html,
body {
	margin: 20px;
	padding: 0;
}
.test{
	height:30px;
	max-width:300px;
	background:red;
	color:white;
	font-weight:bold;
	font-size:38px;
	text-align:center;
	padding:20px;
}

button {
	margin: 0;
	padding: 0;
	border: 1px solid grey;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

h3 {margin: 0; font-size: 1.2em; text-decoration: none}

#row {width: 80%; margin: 0 auto}

#app {width: 40%; float: left;  padding: 1em}
#app small {color: #afafaf;display: block; padding: 4px;}
#myapp {width: 100%; float: left; }
#myapp small {color: #afafaf;display: block; padding: 8px;}
#ui, button {margin-top: 1em;display: block; padding: 8px}
#time-travel {width: 40%; float: left; padding: 1em;display: block;}
